**/*.obj
**/*.tlog
**/*.log
**/*.idb
**/*.pdb
**/*.db
**/*.recipe
**/*.suo
**/*.ilk
**/*.ipch
**/*.opendb
**/*.cd
**/*.exe
**/*.db-*
**/*.sqlite
**/*.lib
**/*.pdb
**/*.iobj
**/*.ipdb
**/*.FileListAbsolute.txt
**/*.bin
**/*.testlog
**/*.manifest
